<div style="height: 100%">
    <li style="float:left;list-style: none;margin-top: 8px;margin-left: 2px">
        <button id="lineBtn" class="button button-glow button-rounded button-royal" style="height: 30px;">画线</button>
    </li>
    <li style="float:left;list-style: none;margin-top: 8px;margin-left: 2px">
        <button id="pointBtn" class="button button-glow button-rounded button-royal" style="height: 30px">画点</button>
    </li>
    <li style="float:left;list-style: none;margin-top: 8px;margin-left: 2px">
        <button id="polyBtn" class="button button-glow button-rounded button-royal" style="height: 30px">画面</button>
    </li>
    <li style="float:left;list-style: none;margin-top: 8px;margin-left: 2px">
        <button id="rectBtn"  class="button button-glow button-rounded button-royal" style="height: 30px">画矩形</button>
    </li>
    <li style="float:left;list-style: none;margin-top: 8px;margin-left: 2px">
        <button id="clearBtn"  class="button button-glow button-rounded button-royal" style="height: 30px">清除</button>
    </li>
</div>