<div id="toolbar" style="position: absolute;height: 80px;width: 200px;left: 0px;opacity:0.9;background-color: #f6f4f7;">
    <!-- 这是Demo需要的侧边栏 -->
    <table class="infoPanel">
        <tbody>
        <tr>
            <td>手动控制模型移动</td>
        </tr>
        <tr>
            <td>方向: <span id="heading"></span>°</td>
        </tr>
        <tr>
            <td>← 向左/→ t向右</td>
        </tr>
        <tr>
            <td>垂直角度: <span id="pitch"></span>°</td>
        </tr>
        <tr>
            <td>↑ 向上/↓ 向下</td>
        </tr>
        <tr>
            <td>滚动角度: <span id="roll"></span>°</td>
        </tr>
        <tr>
            <td>shift+←  向左翻滚/shift+→ 向右翻滚</td>
        </tr>
        <tr>
            <td>速度: <span id="speed"></span>m/s</td>
        </tr>
        <tr>
            <td>shift+↑ 加速/shift+↓ 减速</td>
        </tr>
        <tr>
            <td>镜头跟随
                <input id="fromBehind" type="checkbox" >
            </td>
        </tr>

        </tbody>
    </table>
</div>