<!-- 专题 -->
<div class="m_topic_map" style="background-color: rgba(255, 255, 255, 0.9);max-width:400px;">
    <h2 class="dialog_caption">专题地图</h2>
    <!-- 选择底图专题 -->
    <h3 class="dialog_sub_caption">选择底图专题</h3>
    <ul class="item_selector border-b-solid pb10 mapLayersList" id="selector1">
        <li data-val="天地图矢量" class="on">矢量地图<i class="selected_icon iconfont">&#xe665;</i></li>
        <li data-val="天地图影像">影像地图<i class="selected_icon iconfont">&#xe665;</i></li>
    </ul>
    <!-- end 选择底图专题 -->
    <!-- 专题区 -->
    <h3 class="dialog_sub_caption mb10">专题区</h3>
    <div id="MapLayer_zt" class="progress_wrap" style="height: 500px">
        <!-- item -->
        <div class="progress_item on" data-val="0001" data-name="税源宗地">
            <!-- 默认选中的  加  on -->
            <div class="progress_mask"></div>
            <h6><i class="v_checker"><span class="iconfont">&#xe665;</span></i>专题1</h6>
            <div class="progress_bar">
                <div class="progress_handler">
                    <div class="progress_bg"></div>
                    <div class="progress_val" style="width:50%;"></div>
                    <a class="pro_handler_bar" style="left:50%;"></a>
                </div>
                <div class="pro_result">50%</div>
            </div>
        </div>
        <!-- end item -->

    </div>
    <!-- end 专题区 -->
</div>
<!-- end专题 -->