<div style="height: 100%">
    <!-- <li style="float:left;list-style: none;margin-top: 8px;margin-left: 2px">
        <button id="view_rotary" class="button button-glow button-rounded button-royal" style="height: 30px;">选择</button>
    </li> -->
    <li style="float:left;list-style: none;margin-top: 8px;margin-left: 2px">
        <button id="view_reset" class="button button-glow button-rounded button-royal" style="height: 30px">漫游</button>
    </li>
    <!--<li style="float:left;list-style: none;margin-top: 8px;margin-left: 2px">-->
        <!--<button class="button button-glow button-rounded button-royal" style="height: 30px">c</button>-->
    <!--</li>-->
    <!--<li style="float:left;list-style: none;margin-top: 8px;margin-left: 2px">-->
        <!--<button class="button button-glow button-rounded button-royal" style="height: 30px">d</button>-->
    <!--</li>-->
    <!--<li style="float:left;list-style: none;margin-top: 8px;margin-left: 2px">-->
        <!--<button class="button button-glow button-rounded button-royal" style="height: 30px">e</button>-->
    <!--</li>-->
</div>